services:
  mc:
    image: itzg/minecraft-server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      MOTD: "The Kween of all servers."
      DIFFICULTY: "normal"
    volumes:
      - minecraft-data:/data
    restart: 'unless-stopped'

volumes:
  minecraft-data:
    external: true

